* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: 0.4s;
}

main::-webkit-scrollbar {
  width: 8px;
  background-color: #0f100c2d;
}

main::-webkit-scrollbar-thumb {
  background-color: #cfb2708d;
  border-radius: 4px;
}

/* GALLERY */
#gallery .img-container {
  overflow: hidden;
  transition: 0.5s;
}

#gallery img:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

/* SIDENAV */
.sidenav h1 {
  font-size: 20px;
  color: #818181;
  font-family: "Cabin, sans-serif";
  letter-spacing: 2px;
  text-align: center;
}

.sidenav p {
  position: absolute;
  padding-left: 20px;
  bottom: 0;
  font-size: 13px;
  color: #eee;
  font-family: "Cabin, sans-serif";
  text-transform: capitalize;
}

.sidenav {
  height: 100vh;
  width: 25vw;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  padding-top: 20px;
}

.main {
  width: 75vw;
  display: grid;
  grid-template-areas: "a";
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.img {
  height: 100vh;
  max-width: 100%;
  object-fit: cover;
}

.sofa {
  grid-area: a;
}

.btnContainer {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.selectButton {
  color: #fff;
  border: 3px solid #44372f;
  background-image: -webkit-linear-gradient(
    30deg,
    #44372f 50%,
    transparent 50%
  );
  background-image: linear-gradient(30deg, #44372f 50%, transparent 50%);
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: 0%;
  -webkit-transition: background 300ms ease-in-out;
  transition: background 300ms ease-in-out;
  width: 7em;
  height: 3em;
  display: grid;
  place-items: center;
  border-radius: 7px;
  font-weight: 600;
}
.selectButton:hover {
  background-position: 100%;
  color: #44372f;
}
.active {
  background-position: 100%;
  color: #44372f;
}

.mainContainer {
  display: flex;
  justify-content: space-between;
}

.inmg {
  height: 50px;
  opacity: 80%;
  margin-left: 2em;
  margin-bottom: 2em;
}
.inmg:hover {
  opacity: 100%;
}
