* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: 0.4s;
}

main::-webkit-scrollbar {
  width: 8px;
  background-color: #0f100c2d;
}

main::-webkit-scrollbar-thumb {
  background-color: #cfb2708d;
  border-radius: 4px;
}

/* GALLERY */
#gallery .img-container {
  overflow: hidden;
  transition: 0.5s;
}
#gallery img {
  transition: 0.4s;
}
#gallery img:hover {
  transform: scale(1.1);
  transition: 0.4s;
}

/* SIDENAV */
.sidenav h1 {
  font-size: 20px;
  color: #818181;
  font-family: "Cabin, sans-serif";
  letter-spacing: 2px;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 15%;
}

.sidenav p {
  position: absolute;
  padding-left: 20px;
  bottom: 0;
  font-size: 13px;
  color: #eee;
  font-family: "Cabin, sans-serif";
  text-transform: capitalize;
}

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 7px;
  margin-left: 30px;
  margin-right: 30px;
  color: #eee;
  text-decoration: none;
  font-size: 17px;
  display: block;
  font-family: "Poppins", "sans-serif";
}

.sidenav a:hover {
  background-color: #eee;
  color: #111;
}

.main {
  margin-left: 25%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.img {
  height: auto;
  width: 100%;
}

.nav-link {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  color: #f6f4f4;
  padding: 20px 0px;
  margin: 0px 20px;
  display: inline-block;
  position: relative;
  opacity: 0.75;
}

.nav-link:hover {
  opacity: 1;
}

.nav-link::before {
  transition: 300ms;
  height: 5px;
  content: "";
  position: absolute;
  background-color: #ccb079;
}

.nav-link-ltr::before {
  width: 0%;
  bottom: 10px;
}

.nav-link-ltr:hover::before {
  width: 100%;
}

.nav-button {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  border: #ccb079 2px solid;
  padding: 10px 20px;
  border-radius: 14px;
  transition: 300ms;
}

.nav-button:hover {
  background-color: #ccb079;
  color: #111;
}
